/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-button {
  --border-radius: 2em !important;
  --padding-top: 1.2em !important;
  --padding-bottom: 1.2em !important;
  --padding-start: 1.5em !important;
  --padding-end: 1.5em !important;
  text-transform: none;
  font-weight: 500;
}

ion-title {
  font-weight: bold;
}

ion-item {
  --border-color: var(--ion-color-secondary);
  --padding-start: 0;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid var(--ion-color-secondary);
}

ion-toast.success-toast {
  --background: var(--ion-color-secondary) ;
  --color: var(--ion-background-color);
}

button.alert-button.alert-btn {
  border-radius: 2em;
  background-color: var(--ion-background-color);
  color: var(--ion-color-primary);
}