<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon class="default-color" name="home"></ion-icon>
      <ion-label class="default-color">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="overnight">
      <ion-icon class="default-color" name="moon"></ion-icon>
      <ion-label class="default-color" >Overnight</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="daytime">
      <ion-icon class="default-color" name="sunny"></ion-icon>
      <ion-label class="default-color">Daytime</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>