ion-datetime {
  --ion-background-color: #071836;
}
::ng-def ion-picker-column-internal {
  --background: var(--ion-background-color);
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.time-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.half-col {
  width: 50vw!important;
}

// ion-popover {
//   position: fixed !important;
//   left: -15% !important;
//   height: 250px !important;
//   width: 200px !important;
// }
