.sleepiness-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-text {
  margin: 0;
  font-size: 1em;
}

.data-row {
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  font-style: italic;
}